
.container{
    text-align: center;
    margin-top: 25px;

}

table{
    margin: auto;
}

input{
    border-radius: 21 px;
    font-size: 25px;
    height: 44px;
    border: 3px solid black;
    margin-bottom: 14px;
}
button{
    font-size: 33px;
    border-radius: 7px;
    background: #ff9872;
    width: 77px;
    height: 56px;
}

button:hover{
    background: #d9d6d2;
    transform-style: preserve-3d;
    transition: transform 0.1s;
    transform: rotate3d(1, 1, 1, 15deg);

}
.calculator{
    border: 5px solid sandybrown;
    padding: 25px;
    border-radius: 60px ;
    display: inline-block;
    background: #d9d6d2
}